<div style="height: 60px;"></div>
Hi from MAGIC LINK

<%= simple_form_for @magic_link do |f| %>
  <%= f.input :email, label: "Enter your email", autofocus: true %>
  <%= f.submit "Email me a sign in link", class: "btn btn-primary" %>
<% end %>
